In [ ]:
num= 3
print(type(num))

In [ ]:
save= int(input("enter your raza rollno"))
have= int(input("enter your anas rollno"))
print(save)
print(have)
print(save+have)

In [ ]:
one= "hello"
two= "raza"
print(one+two)

In [ ]:
print("my name is \t my name is ")

In [ ]:
print("\\//\\\//\\")

In [ ]:
save=input("eneter the name")
num=int(input("eneter your roll num"))
hola=input("eneter the father name")
age=int(input("eneter your age"))
print(f"name: {save} \n roll num: {num} \n f.name: {hola} \n age:{age}")

In [ ]:
x= int(input("enter a number"))
if x%2==0:
    print("even")
else:
    print("odd")

In [ ]:
age= input("enter your age")
name = input("enter your name")
print("my name is",name,"and my age is",age)
print("my name is "+name+" and age is "+age)

In [ ]:
age= int(input("enter your age"))
name = input("enter your name")
print("my name is",name,"and my age is",age)
print("my name is "+name+" and age is "+str(age))

In [ ]:
firstName= "Raza "
lastName= "Naqvi"
print(firstName+lastName)

In [ ]:
age=  input("enter your age")
name= input("enter your name")
print("my name is {} and my age is {}".format(name,age))

In [ ]:
age=  input("enter your age")
name= input("enter your name")
print(f"my name is {name} and my age is {age}")

In [ ]:
print(10/3) #bydefault float mai
print(10//3) #int mai deyga

In [ ]:
age1=10
age2=2
print(age1+age2)

In [ ]:
age1= age1+10
print(age1)

In [ ]:
10>12

In [ ]:
num1= input(" enetr num1")
num2= input(" enetr num2")
if num1>num2:
    print("num1 is grater than num2")
    
if num1==num2:
    print("num1 is equal to num2")
    
else:
    print("num2 is grater than num1")

In [ ]:
age= int(input("eneter your age"))
if age>=18:
    print("age is valid")
    ticket = input("do you have it")
    if ticket=="yes":
        print("ticket is ok you can can enter")
else:
    print("get lost")

In [ ]:
age= int(input("eneter your age"))
if age>=18:
    print("age is valid")
    cnic = input("do you have cnic")
    if cnic=="yes":
        
        print("you can caste your vote")
else:
    print("barey hou kr ao")

In [ ]:
name, age, hola= input("eneter 3 nums").split("|")
print((int(name)+int(age)+int(hola))/3)

In [ ]:
name= "razanaqvianas"
print(name[8:5:-1])

In [ ]:
name= "raza ali nAqvi"
#print(name.title())
print(name.lower())
print(name.lower().count("a"))
#print(name.count("A"))

In [ ]:
x= int(input("enter num"))

if x%2==0:
    print("even")
    
else:
    print("odd")

In [ ]:
a,b,c=int(input("enetr a b c"))
if int(a)>int(b) and int(a)>int(c):
    print(f"{int(a)} is greater")

In [ ]:
a= int(input("value of a "))
b= int(input("value of b "))
c= int(input("value of c "))
d=(b**2-4*a*c)
num=((-b)+(d**0.5))/2*a
num1=((-b)-(d**0.5))/2*a
if d>=0 :
    print(num)
    print(num1)
else:
    print("NUMBER CHANGE KR!")
    #num1= -b-(b**2-4ac)**0.5/2a

In [ ]:
cnic_status = input("do you have a valid cnic")
name_in_list = input("is your name is the list?")
if ((cnic_status=="yes") and (name_in_list=="yes")):
    print("you can caste you vote")
    
else:
    print("barey hou kr ao")

In [ ]:
name="pakistan"
name

In [ ]:
name.upper()

In [ ]:
name.lower()

In [ ]:
name.count("a")

In [ ]:
marks=int(input("enter your marks "))
grade=" "
if marks>=90:
    grade="A+"
elif marks>=80:
    grade="A"
elif marks>=70:
    grade="B"
else:
    print("you are fail")
    
print("your grade is " , grade)

In [ ]:
a= 2
b= 3
c=a+b
print(c)

In [ ]:
aList = ['oranges', 'apple','banana', 'peach']
aList.remove('banana')
print(aList)

In [ ]:
sortList = [1,2,4,5]

In [ ]:
sortList.sort() #FORACCENDINGORDER
sortList

In [ ]:
sortList.sort(reverse = True) #for desesending order #by defult reverse FALSE
sortList

In [ ]:
newList=[23,4,56,6]

In [ ]:
newList.reverse()#SORTNHIKRTAREVERSEKRTABASLISTKO
newList

In [ ]:
newList.clear() #list ko clear krny ky lilye
newList

In [ ]:
oldList=['taha', 'anas','sohaib' , 'raza'] #string ki list

In [ ]:
oldList.sort(reverse = True) #for desesending order #by defult reverse FALSE
oldList

In [ ]:
rList=[23, 45,56,55]

In [ ]:
x = rList.pop()

In [ ]:
print(rList)
print(x)

In [ ]:
oList=['X', 'Y','z' , 'a'] #string ki list

In [ ]:
oList.sort()
oList

In [ ]:
sList= [22,33,44,55]
fList=[]

In [ ]:
fList.append(sList.pop())

In [ ]:
print(fList)

In [ ]:
tList=[33,55,66,88]
yList=[]

In [ ]:
g=tList.pop()

In [ ]:
print(tList)
print(g)

In [ ]:
yList.append(tList.pop())
print(yList)

In [ ]:
r= [222,444,555]
n= []

In [ ]:
if len(r)!=0:
    n.append(r.pop())
    print(r)
    print(n)
else:
    print("list ktm hogai bhai")

# SLICING

In [ ]:
b[2]

In [ ]:
b[0:2]

In [ ]:
p=[44,55,66,77,88,99,0,11,22,33]

In [ ]:
print(p)
p[0:8:3]

# REVERSING INDEX

# passing fuction arguments and parameters

In [ ]:
def cars(model, make, *specs):
    print(model,make)
    print(specs)

In [ ]:
 cars(2010,'toyota corolla', 'automatic','tape','power windows')

In [ ]:
def pizza(size, flavour, *customer):
    print(size,flavour)
    print(customer)

In [ ]:
pizza('large','fajita', '03100033444' ,'Sohaib khan', 'ahmad')

# fuctions as variables or as argument

In [ ]:
def add():
    x = 2+3
    return x

In [ ]:
def sub():
    y = 4-3
    return y

In [ ]:
answer = add()+sub()
print(answer)

In [ ]:
def salary(basic, commision):
        total= basic + commision
        print(f" your salary is:{total}")

In [ ]:
def commisionCaculator(sales):
        if sales>=100000:
            percentage = 30
        elif sales>= 50000:
            percentage = 20
        elif sales>= 30000:
            percentage = 10
        elif sales>= 20000:
            percentage = 10
        else

In [ ]:
fruit = "Apple"

def alocal():
    a=100
    #fruit="banana"
    print(fruit)
    print(a)

In [ ]:
alocal()

In [ ]:
for name in range(3):
    name = input("enter your name ")
    print(name)

In [ ]:
a=0
while a<10:
    print(a)
    a +=2

In [ ]:
for a in range(1):
print(a)

In [ ]:
flag = True
while flag:
    name =input("name bata")
    print(name)
    if name=="exit":
        flag= False

# Classes #attributes variables
    #behaviours fuctions

In [ ]:
class Patient():
    def __init__(self, pid, pname, diasese, age, gender):
        self.pid = pid
        self.pname = pname
        self.diasese= diasese
        self.age= age
        self.gender= gender

In [ ]:
p1= Patient(69, "Sohaib","mental",20,"male")

In [ ]:
p2= Patient(22,"ANAS", "pyaar mai pagal", 20,"male")

In [ ]:
p3= Patient(22, "Raza", "FIT", 18,"male")

In [ ]:
p1.age ,p1.pname ,p1.pid ,p1.diasese ,p1.gender

# IN STATEMEnT

In [ ]:
new ="my name is raza"
if "a" in new:
    print("'a' is here")

In [ ]:
hola= input("string bata?")
op= input("which word to check")

if op.upper() in hola.upper():
    
    print(f"{op} is here")
else: pass
    


#elif op in hola:
   # hola.lower()
   # print(f"{op} is here")

In [ ]:
n= int(input("kahan takk karana"))
a = int(input("enter a number "))
for c in range(0,n+1):
    b=a*n
    print(f"{c} *{n}= {b}")

In [ ]:
ullu= input("naam daal ")

In [ ]:
my_info=[1,2,3,4,5]

my_info.clear()
print()

In [ ]:
my_list=[]
while True:
    b=input("you want to aad?")
    if b=="y" or b=="Y":
        a=input("kiya dalna hhai")
        my_list.append(a)
        print(my_list)
    elif b=="e":
        c=input("delete krna?")
        my_list.remove(c)
        print(my_list)
    else:
        f=input("do yo wNT TO CONT Y/N")

In [ ]:
i=1
while i<=11:
    print(i)
    i=i+1

In [3]:
i=1
while i<=11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11